# Python_Assignment_004

Concepts used:-    
Strings, string functions     
Lists   
Tuples   
copy.copy()   
copy.deepcopy()

==============================================================================================================

### 1. What exactly is [ ]?

It is a symbol for list datatype.  
List is a collection of elements which accepts any datatype.  
List is a collection which is ordered and changeable. Allows duplicate members.

In [62]:
spam = [1,'krishna',7.77,'3+j8', True, [1,'krishna',7.77,'3+j8'], (1,'krishna',7.77,'3+j8'), {1,'krishna',7.77,'3+j8'}]
spam

[1,
 'krishna',
 7.77,
 '3+j8',
 True,
 [1, 'krishna', 7.77, '3+j8'],
 (1, 'krishna', 7.77, '3+j8'),
 {1, '3+j8', 7.77, 'krishna'}]

==============================================================================================================

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

using indexing method we can assign a value.

In [14]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'  #As list starts from 0. I used 2 for updating third value.
spam

[2, 4, 'hello', 8, 10]

==============================================================================================================

### 3.What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [15]:
spam = ['a','b','c','d']

In [16]:
spam[int(int('3' * 2) / 11)]

'd'

In [55]:
#let's do this step by step
s = '3'*2   # as 3 is a string and multiplied by 2 we got 33 as a string datatype
print(s,type(s))

i = int(s)   #Now convert this string into int
print(i,type(i))

d = i/11   # divide 33 by 11 which gets 3.
print(d, type(d))

int(d)  #converting the float value into int.

spam[3]   #now spam of 3 is 'd'

33 <class 'str'>
33 <class 'int'>
3.0 <class 'float'>

'd'

==============================================================================================================

### 4. What is the value of spam[-1]?

Indexing starts from 0 to infinity from left to right.  
Indxing starts from -1 to -infinity from right to left.

In [57]:
spam = ['a','b','c','d']
spam[-1]

'd'

==============================================================================================================

### 5. What is the value of spam[:2]?

: symbol means starting all or ending all

In [59]:
spam = ['a','b','c','d']
spam[:2]     # starting all till 2

['a', 'b']

==============================================================================================================

### 6. What is the value of bacon.index(&#39;cat&#39;)?

index function finds the first position of a value we entered

In [75]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

==============================================================================================================

### 7. How does bacon.append(99) change the look of the list value in bacon?

append function adds the given value into an empty or existing list.

In [74]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

==============================================================================================================

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

Remove functions removes the given value from a list.

In [76]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

==============================================================================================================

### 9. What are the list concatenation and list replication operators?

concatination can be done by " + " and append function.  
Replicating same list ,=multiple times using " * "

In [94]:
#Let's assume we have 2 different lists.
l1 = [3.14, 'cat', 11, 'cat', True] 
l2 = ['a','b','c','d']

In [95]:
#Even if you run again it won't add again.
l3  = l1 + l2
l3

[3.14, 'cat', 11, 'cat', True, 'a', 'b', 'c', 'd']

In [96]:
# if you run again it will add again and again.
l1.append(l2)
l1

[3.14, 'cat', 11, 'cat', True, ['a', 'b', 'c', 'd']]

In [103]:
# Replicating same list ,=multiple times using " * "
l2 * 2

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

==============================================================================================================

### 10. What is difference between the list methods append() and insert()?

Appends adds the given value at last position. we can't enter our desired position.  
Insert function helps us to fit the value in our desired position.

In [121]:
# Appending
l = [3.14, 'cat', 11, 'cat', True] 
l.append('lohith')
l

[3.14, 'cat', 11, 'cat', True, 'lohith']

In [122]:
# Inserting
l = [3.14, 'cat', 11, 'cat', True] 
l.insert(1,'krishna')
l

[3.14, 'krishna', 'cat', 11, 'cat', True]

==============================================================================================================

### 11. What are the two methods for removing items from a list?

In [134]:
# pop
l = [3.14, 'cat', 11, 'cat', True] 
l.pop(0)    #Pop function removes the value by it's position. so we need to mention the position of the value.
l

['cat', 11, 'cat', True]

In [203]:
# Remove
l = [3.14, 'cat', 11, 'cat', True] 
l.remove("cat")    #Remove function removes value directly by it's name or number. Removes first value if it has duplicates.
l

[3.14, 11, 'cat', True]

==============================================================================================================

### 12. Describe how list values and string values are identical.

Lists and strings are identical in some ways like Accessing, concatination, replication etc..  
But in some cases they are different. we can't modify a string.

In [163]:
# List Example
list1 = [1, 2, 3, 4, 5]  # List of integers
list2 = ['apple', 'banana', 'cherry']  # List of strings
list3 = [1, 'apple', 3.14, True]  # List with mixed data types

print('Accessing:- ',list1[2])  #Accessing 

list1[2] = "shiva"   #Modifying
print('Modifying:- ',list1)

list4 = list1 +  list3
print('concatination:- ',list4)

print('replicating:- ',list2 * 3)

list1.append(6)
print('appending:-', list1)

list2.remove('banana')
print('removing:- ',list2)

list2.sort()       # all the elements should be in same data type. use key = str to convert.
print('sorting:- ',list1)

Accessing:-  3
Modifying:-  [1, 2, 'shiva', 4, 5]
concatination:-  [1, 2, 'shiva', 4, 5, 1, 'apple', 3.14, True]
replicating:-  ['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
appending:- [1, 2, 'shiva', 4, 5, 6]
removing:-  ['apple', 'cherry']
sorting:-  [1, 2, 'shiva', 4, 5, 6]

In [166]:
#String examples
str1 = "Hello"
str2 = "World"
str3 = "Python"

print('Accessing:- ',str1[2])   #Accessing

#str1[2] = 'j'   #Modifying    #gives error bcoz strings are immutables

str4  = str1 + " - " + str3
print('concatination:- ',str4)

print('Replication:- ',str2 * 3)

# appending, removing, sorting does not apply to string
print('upper case:- ',str1.upper())  # Output: 'HELLO'
print('Lower case:- ',str2.lower())  # Output: 'world'
print('Finding:- ',str3.find('tho'))  # Output: 2

Accessing:-  l
concatination:-  Hello - Python
Replication:-  WorldWorldWorld
upper case:-  HELLO
Lower case:-  world
Finding:-  2

==============================================================================================================

### 13. What's the difference between tuples and lists?

List is a collection which is ordered and changeable. Allows duplicate members.  
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

List  denotes with [ ]  
Tuple denots with ()

==============================================================================================================

### 14. How do you type a tuple value that only contains the integer 42?

In [169]:
t = (42)
t

42

==============================================================================================================

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [190]:
# Getting list value's from a tuple
t = (7,'lohith',24,True)   #Tuple
l = list(t)   #converetd into list
l

[7, 'lohith', 24, True]

In [189]:
# Getting tuple values from a list.
l = ['krishna',777,'3-j4',False]   #list
t = tuple(l)    #Converted into tuple
t

('krishna', 777, '3-j4', False)

==============================================================================================================

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

In programming, variables that "contain" list values are typically references or pointers to memory locations where the list data is stored. These variables store the memory addresses or references of the actual list data, rather than storing the list data directly. This means that the variable itself does not hold the list data, but rather points to where the list data is stored in memory.

==============================================================================================================

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

**copy.copy():** This method creates a shallow copy of an object. It creates a new object and copies the references of the original object's elements to the new object. In other words, the elements themselves are not deeply copied, but rather their references are copied. If the original object contains mutable objects, such as lists or other objects with references, the shallow copy will still have references to the same mutable objects as the original object. This means that changes made to the mutable objects in the shallow copy will be reflected in the original object, and vice versa.

In [200]:
import copy

original_list = [1, 2, [3, 4]]
shallow_copy_list = copy.copy(original_list)

# Both original_list and shallow_copy_list point to the same mutable object ([3, 4])
print(original_list)        # [1, 2, [3, 4]]
print(shallow_copy_list)    # [1, 2, [3, 4]]

shallow_copy_list[2][0] = 99

# Since the mutable object is shared, changes made to it are reflected in both lists
print(original_list)        # [1, 2, [99, 4]]
print(shallow_copy_list)    # [1, 2, [99, 4]]

[1, 2, [3, 4]]
[1, 2, [3, 4]]
[1, 2, [99, 4]]
[1, 2, [99, 4]]

**copy.deepcopy():** This method creates a deep copy of an object. It recursively copies all objects referenced by the original object, creating new objects with new memory addresses for all levels of nesting. In other words, it creates a completely independent copy of the original object, including all mutable objects and their references. Changes made to the mutable objects in the deep copy will not affect the original object or any other objects that were copied.

In [202]:
import copy

original_list = [1, 2, [3, 4]]
deep_copy_list = copy.deepcopy(original_list)

# original_list and deep_copy_list are completely independent objects
print(original_list)    # [1, 2, [3, 4]]
print(deep_copy_list)    # [1, 2, [3, 4]]

deep_copy_list[2][0] = 99

# Changes made to the mutable object in deep_copy_list do not affect original_list
print(original_list)    # [1, 2, [3, 4]]
print(deep_copy_list)    # [1, 2, [99, 4]]

[1, 2, [3, 4]]
[1, 2, [3, 4]]
[1, 2, [3, 4]]
[1, 2, [99, 4]]

==============================================================================================================